# ==========================
# Python Basics
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================
# Virtual Environments
# ==========================
venv/
env/
.env
.venv/
conda_env/

# ==========================
# Jupyter Notebooks
# ==========================
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ==========================
# IDEs & Editors
# ==========================
# PyCharm / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# ==========================
# Operating System
# ==========================
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# ==========================
# Data & Results (Heavy)
# ==========================
# Ignore input data
data/

# Ignore heavy training/tuning outputs
results/old/
results/DL/**/models
results/nested_cv/**/models



# Logs
log/
logs/
# Safety Checkpoint before DL Refactor
